:root {
    --color-dark: #181818;
}
html {
    background-color: var(--color-dark);
}
body {
    background-color: var(--color-dark);
    margin: 0;
    overflow: hidden;
    transition: background-color 3s linear;
}
body.dim {
    background-color: #000000;
}
#input-window {
    filter: opacity(1);
    z-index: 10;
    position: absolute;
    top: calc((100vh - 800px) / 2 + 20px);
    left: 20px;
    display: flex;
    justify-content: center;
    height: 800px;
    width: 1280px;
    align-items: center;
    flex-direction: column;
    font-family: "PC Senior", monospace;
    background-image: url('img/redwood.avif');
    background-size: 10000px 10000px;
    background-position: -2900px -5300px;
    image-rendering: pixelated;
    filter: opacity(1);
    transition: filter 0.8s ease-out;
}
#input-window.out {
    filter: opacity(0);
}
#wild-name {
    color: #fff;
    padding: 8px;
    background: transparent;
    border-radius: 0;
    width: 170px;
    text-align: center;
    font-family: "PC Senior", monospace;
    margin: 10px;
    border: none;
    border: 1px solid #fff;
}
#wild-name:valid {
    border: 8px solid #10aa10;
}
#wild-name:invalid {
    border: 8px solid #8a0010;
}
#game-window {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    transition: filter 0.8s ease-in;
    filter: hue-rotate(0deg) blur(0px) opacity(1);
    transform: translate(0px, 0px);
}
#canvas {
    box-shadow: 0px 10px 40px #000;
    filter: url(#treeportal);
}
#game-window.portal {
    filter: hue-rotate(180deg) blur(12px) opacity(1);
}
#game-window.warpoffset {
    transform: translate(12px, 15px);
}
#warp-effect {
    position: absolute;
}
@font-face {
  font-family: 'PC Senior';
  src: url('pcsenior.ttf');
}
.nudge {
    animation: shaking 0.2s 1.5;
}
@keyframes shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    35% { transform: translate(2px, 1px) rotate(0.2deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    65% { transform: translate(-2px, 1px) rotate(-0.2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
#top-text {
    font-family: 'PC Senior', monospace;
    top: 0;
}
#bottom-text {
    font-family: 'PC Senior', monospace;
    font-size: 1vh;
    bottom: 0;
}
.hidden {
    visibility: hidden;
}
.text-box {
    position: absolute;
    right: 0;
    font-size: 18px;
    color: #aaa;
    width: calc(100% - 1330px);
    line-height: 32px;
}
.intro-text {
    line-height: 1;
}
.type-animation {
    width: 30ch;
    animation: typing 1.5s steps(30);
    white-space: nowrap;
    overflow: hidden;
}
@keyframes typing {
  from {
    width: 0
  }
}
