:root {
    --color-dark: #041725;
    --current-level: 1;
    --background-level-scale-vw: 110vw;
    --background-level-scale-vh: 110vh;
}
html {
    background-color: var(--color-dark);
}
body {
    margin: 0;
    overflow: hidden;
}
@font-face {
    font-family: 'PC Senior';
    src: url('pcsenior.ttf');
}

#game-layout {
    transition: backdrop-filter 3s ease-in-out;
    backdrop-filter: brightness(calc(1 - var(--current-level) * 0.1));
    background-color: var(--color-dark);
    background-image: url('img/bg.avif');
    width: 100vw;
    height: 100vh;
    display: grid;
}

#input-window {
    filter: opacity(1);
    z-index: 10;
    font-family: "PC Senior", monospace;
    background-image: url('img/redwood.avif');
    background-size: 10000px 10000px;
    background-position: -2900px -5300px;
    image-rendering: pixelated;
    filter: opacity(1);
    transition: filter 0.8s ease-out;
}
#input-window.out {
    filter: opacity(0);
}

#wild-name {
    color: #fff;
    padding: 8px;
    background: transparent;
    border-radius: 0;
    width: 170px;
    text-align: center;
    font-family: "PC Senior", monospace;
    margin: 10px;
    border: none;
    border: 1px solid #fff;
}
#wild-name:valid {
    border: 8px solid #10aa10;
}
#wild-name:invalid {
    border: 8px solid #8a0010;
}

#game-window {
    transition: filter 0.8s ease-in;
    filter: hue-rotate(0deg) blur(0px) opacity(1);
    transform: translate(0px, 0px);
    margin-bottom: 50px;
}
#game-window.portal {
    filter: hue-rotate(180deg) blur(12px) opacity(1);
}
#game-window.warpoffset {
    transform: translate(12px, 15px);
}

#canvas {
    width: 90%;
    box-shadow: 0px 10px 40px #000;
    filter: url(#treeportal);
}
#warp-effect {
    position: absolute;
}

.nudge {
    animation: shaking 0.2s 1.5;
}
@keyframes shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    35% { transform: translate(2px, 1px) rotate(0.2deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    65% { transform: translate(-2px, 1px) rotate(-0.2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

#top-text {
    font-family: 'PC Senior', monospace;
    --text-bubble-bg: rgba(0, 40, 70, 0.8);
    background: var(--text-bubble-bg);
    padding-left: 10px;
}
#top-text:after {
    content: ".";
    font-weight: bold;
    font-size: 55px;
    width: 25px;
    height: 12px;
    line-height: 10px;
    background-color: var(--text-bubble-bg);
    position: absolute;
    display: block;
    bottom: -10px;
    right: 30px;
    text-align: right;
    color: var(--text-bubble-bg);
}
    
#bottom-text {
    font-family: 'PC Senior', monospace;
    font-size: 1rem;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 4rem;
    padding-left: 6rem;
    text-indent: -6rem;
}
.hidden {
    visibility: hidden;
}
.text-box {
    font-size: 18px;
    color: #aaa;
    line-height: 32px;
}
.intro-text {
    line-height: 1;
}
.type-animation {
    white-space: nowrap;
    overflow: hidden;
}
@keyframes typing {
  from {
    width: 0
  }
}

/* desktop-only layout */
@media (min-width: 1001px) {
    html {
        font-size: 12px;
    }
    .type-animation {
        width: 30ch;
        animation: typing 1.1s steps(30);
    }
    #top-text {
        position: relative;
        font-size: 1rem;
    }
    #game-layout {
        display: grid;
        grid-template-columns: 1fr 36rem;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        background-position: center;
        background-size: var(--background-level-scale-vw);
    }
    #input-window {
        grid-area: 1 / 1 / 4 / 2;
    }
    #game-window {
        grid-area: 1 / 1 / 4 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #top-text {
        margin: 2rem;
        grid-area: 1 / 2 / 2 / 3;
    }
    #bottom-text {
        padding: 1rem;
        grid-area: 3 / 2 / 4 / 3;
    }
    #game-controls { display: none; }
    #fullscreen-controls {
        display: block;
        position: absolute;
        bottom: 0;
        right: 10px;
        color: #aaa;
        font-size: 32px;
        transform: scale(1.0);
        transition: transform 0.2s ease-out;
    }
    #fullscreen-controls:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}
/* mobile-wide layout */
@media (min-width: 601px) and (max-width: 1000px) {
    html {
        font-size: 12px;
    }
    .type-animation {
        width: 25ch;
        animation: typing 1.1s steps(25);
    }
    #top-text {
        position: relative;
        font-size: 1rem;
    }
    #game-layout {
        display: grid;
        grid-template-columns: 1fr 26rem;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-position: center;
        background-size: var(--background-level-scale-vw);
    }
    #input-window {
        grid-area: 1 / 1 / 4 / 2;
    }
    #game-window {
        grid-area: 1 / 1 / 4 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #top-text {
        font-size: 0.8rem;
        margin-top: 2rem;
        grid-area: 1 / 2 / 3 / 3;
        overflow-y: scroll;
    }
    #bottom-text {
        display: none;
    }
    #joystick-container {
        grid-area: 1 / 1 / 4 / 2;
    }
    #game-controls {
        padding: 1rem;
        grid-area: 3 / 2 / 4 / 3;
    }
    #gc-button-pad {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        /* grid-template-rows: repeat(5, 1fr); */
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    #gc-interact { grid-area: 1 / 1 / 2 / 3; }
    #gc-back { grid-area: 1 / 4 / 2 / 6; }
    #gc-inventory { grid-area: 2 / 1 / 3 / 2; }
    #gc-equipment { grid-area: 2 / 2 / 3 / 3; }
    #gc-drop { grid-area: 2 / 4 / 3 / 5; }
    #gc-scan { grid-area: 2 / 5 / 3 / 6; }
    #fullscreen-controls {
        display: none;
    }
    
    .gc-button {
        background: transparent;
        border: 1px dashed #aaa;
        border-radius: 5px;
        color: #aaa;
        height: 40px;
        font-family: "PC Senior", monospace;
        margin: 2px;
        box-shadow: 5px 5px #aaa;
        font-size: 0.5rem;
    }
}

/* mobile-tall layout */
@media (max-width: 600px) {
    html {
        font-size: calc(5px + 1.3vh);
    }
    .type-animation {
        width: 60ch;
        animation: typing 2.2s steps(60);
    }
    #top-text {
        font-size: 0.37rem;
    }
    #game-layout {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        background-position: bottom;
        background-size: var(--background-level-scale-vh);
    }
    #input-window,
    #game-window {
        grid-area: 1 / 1 / 2 / 3;
    }
    #top-text {
        grid-area: 2 / 1 / 3 / 3;
    }
    #bottom-text {
        display: none;
    }
    #fullscreen-controls {
        display: none;
    }
    #joystick-container {
        grid-area: 1 / 1 / 3 / 3;
    }
    #game-controls {
        grid-area: 3 / 1 / 4 / 3;
        padding: 2rem;
    }

    #gc-button-pad {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        /* grid-template-rows: repeat(5, 1fr); */
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    #gc-interact { grid-area: 1 / 1 / 2 / 3; }
    #gc-back { grid-area: 1 / 4 / 2 / 6; }
    /* #gc-up { grid-area: 2 / 3 / 3 / 4; } */
    /* #gc-left { grid-area: 3 / 2 / 4 / 3; } */
    /* #gc-right { grid-area: 3 / 4 / 4 / 5; } */
    /* #gc-down { grid-area: 4 / 3 / 5 / 4; } */
    /* #gc-inventory { grid-area: 5 / 1 / 6 / 2; } */
    /* #gc-equipment { grid-area: 5 / 2 / 6 / 3; } */
    /* #gc-drop { grid-area: 5 / 4 / 6 / 5; } */
    /* #gc-scan { grid-area: 5 / 5 / 6 / 6; } */
    #gc-inventory { grid-area: 2 / 1 / 3 / 2; }
    #gc-equipment { grid-area: 2 / 2 / 3 / 3; }
    #gc-drop { grid-area: 2 / 4 / 3 / 5; }
    #gc-scan { grid-area: 2 / 5 / 3 / 6; }

    .gc-button {
        background: transparent;
        border: 1px dashed #aaa;
        border-radius: 5px;
        color: #aaa;
        height: 40px;
        font-family: "PC Senior", monospace;
        margin: 2px;
        box-shadow: 5px 5px #aaa;
        font-size: 0.5rem;
    }
    /* .gc-button:hover { */
        /* animation: button-click 0.2s; */
    /* } */
    @keyframes button-click {
        0% {
            margin: 2px;
            box-shadow: 5px 5px #aaa;
        }
        50% {
            box-shadow: 2px 2px #aaa;
            margin: 9px -1px -1px 9px;
        }
        100% {
            margin: 2px;
            box-shadow: 5px 5px #aaa;
        }
    }
}


